body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
header {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    margin: 1rem 3rem;
    background-color: rgba(171, 248, 232, 0.5);
    border-radius: 0.5rem;
}
footer {
    height: 10vh;
    text-align: center;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}
.part {
    flex: 1;
    padding: 2rem;
}
.use-keyboard-input {
    width: 100%;
    background-color: rgba(231, 240, 238, 0.5);
    border-radius: 0.5rem;
    border: solid 1px rgb(50, 141, 141);
    padding: 0.6rem;
}
textarea {
    font-family: "Roboto", sans-serif;
}
label {
    font-style: italic;
}
h1 {
    font-size: 3rem;
    padding: 1rem;
}
img {
    max-width: 100%;
}
/* Keyboard elements */
.keyboard {
    position: fixed;
    left : 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    padding: 0.5rem 0;
    background-color: rgb(50, 141, 141);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom : -100%;

}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
	height: 3rem;
	width: 6%;
	max-width: 5rem;
	margin: 0.2rem;
	border-radius: 0.2rem;
	border: none;
	background: rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 1.05rem;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 30rem;
}

.keyboard__key--activatable::after {
    content: '';
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
}

.keyboard__key--active {
    background: rgba(255, 255, 255, 0.12);
}
.keyboard__key--active::after {
    background: greenyellow;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

